/* Global Styles */
body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding-top: 120px; /* Added to prevent content being hidden behind header */
    background-color: #f0f0f5;
    color: #333;
    overflow-x: hidden;
    min-height: 100vh; /* Ensure the body takes full height */
    display: flex;
    flex-direction: column;
}

/* Header Styles */
header {
    background-color: #4C3C4B;
    color: white;
    text-align: center;
    padding: 20px 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

header h1 {
    font-size: 2.5em;
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 2px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin-top: 10px;
}

nav ul li {
    display: inline;
    margin: 0 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    transition: color 0.3s ease, transform 0.2s;
}

nav ul li a:hover {
    color: #ffccff;
    transform: scale(1.1);
}

/* Content Container */
.container {
    padding-bottom: 80px; /* Ensures space before footer */
    flex: 1; /* Allow the container to grow and fill the remaining space */
}

/* Overview Section */
.overview {
    text-align: center;
    padding: 50px;
    background-color: #fff;
    margin: 0 auto 40px;
    max-width: 900px;
    border-radius: 12px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    transition: transform 0.3s ease;
}

.overview:hover {
    transform: translateY(-5px);
}

.overview p {
    font-size: 1.2em;
    line-height: 1.8;
    color: #444;
    padding-bottom: 20px;
}

/* Footer Styles */
footer {
    background-color: #4C3C4B;
    height: 80px;
    width: 100%;
    text-align: center;
    color: white;
    line-height: 80px;
    font-size: 1.2em;
    font-weight: bold;
    box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1);
    position: relative;
    margin-top: auto; /* Pushes footer to the bottom of the page */
}

/* Responsive Design */
@media (max-width: 768px) {
    header h1 {
        font-size: 2em;
    }

    nav ul {
        text-align: center;
        padding: 10px;
    }

    .overview {
        padding: 30px;
        margin: 0 auto 30px;
        max-width: 90%;
    }

    .overview p {
        font-size: 1em;
    }

    .overview img {
        display: block;
        margin: 10px auto;
        max-width: 100%;
        height: auto;
    }
}
